#vscode config
.vscode/

# virtual environment
env/
env_rory/

#cache
__pycache__/

#experimental data
exp_growth/data/*/*.json
exp_teaser/data/*/*.json
exp_greedy/data/*/*.json
exp_teaser_start/data/*/*.json
exp_teaser_start/data/*/*.log
